*{
  font-family: 'RobotoMono', Arial, Helvetica, sans-serif;
  margin: 0 auto;
  overflow: auto;
}

body{
  align-items: center;
  background: #31353b;
  display: flex;
  height: 100vh;
  justify-content: center;
}