.title{
    color: #f2f0ed;
    font: 300 11px/2.9 "RobotoMono";
    margin-left: -184px;
    text-align: center;
}
.cal{
    background: #f2f0ed;
    border-radius: 10px;
    border: 2px outset #6d6d6d;
    box-shadow: -10px -10px 35px #26292d;
    margin: 6% auto 0 auto;
    overflow: hidden;
    height: 400px;
    width: 290px;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 61px 61px 61px 61px 61px;
}