.display{
    align-items: center;
    background-image: 
        linear-gradient(
            #000000 -11%,
            #181a1d 86%,
            #000000 100%
        );

    color: #ffffff;
    display: flex;
    font-size: 27px;
    font-weight: 300;
    grid-column: span 4;
    justify-content: flex-end;
    padding: 6%;
    width: 88%;
}